p{
  color: white;
  margin-top: 10px !important;
  margin-left: 380px;
  margin-bottom: 0px !important;
}
h3{
  color:white;
  width:267px;
}
.head {
  display: inline-flex;
  margin: 10px 0 0 40px;
  width: 400px;
  align-items: center;
}
.head img {
  display: inline-block;
}
h1 {
  display: inline-block;
  margin-left: 15px;
}
h2 {
  color: white !important;
}
ul {
  display: inline-block;
  margin-left: 500px !important;
}
.navbar-nav .nav-link {
  width: 180px !important;
  margin-left: 10px !important;
  font-size: x-large;
  text-align: center;
}
th{
  border: 1px solid white !important;
}
.profile-pic {
  border-radius: 100px;
  margin: -80px 150px;
  position: absolute !important;
  z-index: 1 !important;
  width: 200px; 
  height: 200px;
}
.empty {
  display: inline-block;
  width: 200px;
}
aside {
  margin: 20px 0 0 40px !important;
  width: 150px;
  float: left;
}
.flex-column {
  border: 1px outset white;
  border-radius: 5px;
  padding-top: 10px;
  width: 170px;
  height: 200px;
  margin: 0 !important;
}
.flex-column li {
  margin-left: 10px;
}
.flex-column li a{
  font-size: large;
  font-weight: 400;
}
main {
  display: inline-block;
  width: 1075px;
  margin-left: 180px;
  
}
.display-4 {
  margin: 10px 0 40px 380px;
}
.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 200px;
  height: 300px;
  
}

.table tr td {
  border: 1px solid rgb(255, 255, 255);
  color: white !important;
}
.table thead th {
  border: 1px solid white;
  

}
form input {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 10px;
}
form select {
  margin-top: 10px;
}
form label {
  margin-top: 10px;
}
.schedule {
  display: inline-block;
  width: 1100px !important;
  margin: 80px 0 0 168px;
}

body {
  background-color:#152036 !important;
}

a {
  color: rgb(245 164 37) !important;
}

.btn-primary {
  color: #fff;
  background-color: rgb(245 164 37) !important;
  border-color: rgb(245 164 37) !important;
  
}
.footer1{
  width: 100%;
  color: white;
  margin-top:275px;
  text-align: center;
  
}
.info{
  margin-top:20px;
  width: 300px;
}
.add-lesson{
  margin-top: -100px;
  margin-left: 40px
}
=